/*----- Required Fonts -----*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100&subset=latin,latin-ext);
@font-face {
    font-family: ionicons;
    src: url(vendors/fonts/ionicons.woff)
}

/*----- Basic setup -----*/
html {
    background-color: #fff;
    color: #212121;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

header nav {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

header nav a {
    display: block;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 125%;
    text-decoration: none;
    line-height: 50px;
    color: #fff;
    background-color: #505050;
    margin: 0 0 0 auto;
    border: 1px solid #eaeaea;
    border-radius: 50%;
}

.screen-container {
    position: absolute;
    display: block;
    max-width: 500px;
    width: 100%;
    height: 100vh;
    background-color: red;
}

.screen {
    position: relative;
    display: block;
    width: calc(100%-10%);
    max-width: 500px;
    min-width: 400px;
    height: 100vh;
    padding: 0 5%;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.verticalcenter {
    position: relative;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.button:link,
.button:visited {
    display: block;
    width: 40%;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    background-color: #ff5722;
    color: #fff;
    border: 2px solid #ff5722;
    font-weight: 400;
    margin: 15px auto;
    transition: all 0.3s;
}

.button:hover,
.button:active {
    background-color: #ff3d00;
}

.button.ghost-button:link,
.button.ghost-button:visited {
    color: #ff5722;
    background-color: rgba(255, 87, 34, 0.1);
    transition: all 0.3s;
}

.button.ghost-button:hover,
.button.ghost-button:active {
    color: #ff5722;
    background-color: rgba(255, 87, 34, 0.25);
}

h1{
    text-align: center;
    font-size: 250%;
    font-weight: 400;
}

h1 + i {
    display: block;
    text-align: center;
    font-size: 500%;
    margin: 10px auto;
}

h2 {
    font-size: 125%;
}

p {
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: justify;
    line-height: 125%;
}

.input-element {
    display: block;
    position: relative;
    margin: 15px 0;
    height: 50px;
}

.input-element input[type=text], .input-element input[type=password] {
    display: block;
    border: 0;
    outline: 0;
    width: calc(100% - 20px);
    font-size: 100%;
    line-height: 50px;
    transition: all 0.5s;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 10px;
}

.input-element input[type=text] ~ label, .input-element input[type=password] ~ label {
    display:none;
    transition: all 0.5s;
}

.input-element input[type=text]:focus, .input-element input[type=password]:focus {
    display: block;
    width: calc(100% - 20px);
    font-size: 100%;
    line-height: 35px;
    border: 0;
}

.invalidTxt {
    background-color: #ffb0b0;
}

.input-element input[type=text]:focus ~ label, .input-element input[type=password]:focus ~ label {
    display: block;
    width: 100;
    font-size: 50%;
    border-top: 1px solid #212121;
    line-height: 14px;
}

.input-element input[placeholder]::-webkit-input-placeholder {
          transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
     -moz-transition: color 0.3s ease-in;
}

.input-element input:focus::-webkit-input-placeholder { color:transparent; }
.input-element input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.input-element input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.input-element input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.input-row:last-of-type {
    margin-bottom: 50px;
}

.driver-card {
    margin: 10px 0;
}

.driver-card img {
    display: inline-block;
    border: 1px solid #212121;
    border-radius: 50%;
    width: 100px;
}

.driver-card .driver-info {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    line-height: 33px;
}

.driver-card .driver-info h3 {
    font-weight: 400;
}

.driver-card .driver-info h4{
    font-size: 75%;
}

.driver-card .driver-info h4 span {
    display: block;
    font-style: italic;
}

/* ----- HEADER SCREEN ----- */

#welcome-screen {
    background: linear-gradient(rgba(32, 32, 32, 0.90), rgba(80, 80, 80, 0.8)), url(../images/background001.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

#welcome-screen.screen {
        display: block;
}

.signup-type-screen {
    background: linear-gradient(rgba(32, 32, 32, 0.90), rgba(80, 80, 80, 0.8)), url(../images/background003.jpg);
    background-size: cover;
    background-position: center;
}

/* ----- Car Details Screen ----- */
.registration-cardetails-screen .camera-button {
    width: 80%;
    height: 100px;
}

.registration-cardetails-screen .camera-button i {
    margin-top: 220px;
    font-size: 300%;
}

.registration-cardetails-screen .camera-button p {
    text-align: center;
}

.registration-cardetails-screen .camera-button p i {
    font-size: 100%;
}

.chkbox {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border: 2px solid #505050;
    margin: 20px;
    border-radius: 5px;
    position: relative;
}

.chkbox input[type=checkbox] {
    opacity: 0;
}

.chkbox label {
    position: absolute;
    top: -15px;
    left: 5px;
    display: block;
    color: transparent;
    font-size: 225%;
    font-weight: 400;
    transition: all 0.2s;
}

.chkbox input[type=checkbox]:checked + label {
    color: #ff5722;
}

.side-by-side-small {
    display: inline-block;
    line-height: 50px;
}

.side-by-side {
    display: inline-block;
    width: 75%;
    line-height: 50px;
}

/* ----- Pickup / Drop-off Location Screen ----- */

#bookacab-locations-time p {
    font-size: 125%;
}

#bookacab-locations-time h2 {
    font-size: 300%;
    text-align: center;
    margin: 20px auto;
}

#mapPlanTrip {
    width: 90%;
    height: 200px;
    margin: 0 auto;
}

/* ----- Waiting Screen ----- */

.driver-waiting-screen h6, .waiting-screen h6 {
    line-height: 120%;
}

.screen h6 span {
    font-weight: 400;
}

.waiting-screen .map img, .driver-waiting-screen .map img {
    display: block;
    width: 300px;
    margin: 10px auto;
}

.driver-waiting-screen p, .waiting-screen p {
    font-size: 80%;
}

/* ----- Drivers Waiting Screen ----- */


/* ----- List of future services for drivers ----- */

.driver-list-services-screen h2 {
    margin-bottom: 20px;
}

.list-bookings li, .list-services li {
    display: block;
    margin: 10px 0;
    font-size: 80%;
    border-bottom: 1px solid #c0c0c0;
}

.list-bookings li a, .list-services li a {
    display: block;
    width: 100%;
    color: #505050;
    text-decoration: none;
}

.list-bookings i, .list-services i {
    display: inline-block;
    font-size: 200%;
    vertical-align: top;
    margin-right: 5px;
    width: 50px;
}

.list-bookings li div, .list-services li div {
    display: inline-block;
    width: calc( 100% - 60px);
    margin: 0;
    padding: 0;
}

.list-bookings li h6, .list-services li h6 {
    display: inline-block;
}

.list-bookings li span, .list-services li span, .list-services li h3 {
    font-weight: 400;
}

.list-bookings li p, .list-services li p {
}

.list-services li p span {
}

/* ----- Show a drivers earnings ----- */

.driver-list-earnings-screen .driver-card .driver-info div {
    display: block;
    vertical-align: top;
}

.driver-list-earnings-screen .driver-card .driver-info div i {
    display: inline-block;
    vertical-align: top;
}

.driver-list-earnings-screen .driver-card .driver-info div h3 {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    font-size: 60%;
}

.accrued-row{
    background-color: #f0f0f0;
}

.accrued-amount .icon-section {
    display: inline-block;
    width: 20%;
    font-size: 300%;
}

.accrued-amount .title-section {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.accrued-amount .title-section h3 {
    line-height: 400%;
    font-size: 70%;
    font-weight: 400;
    margin-top: 3px;
}

.accrued-amount .amount-section {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    margin-top: 7px;
}

.accrued-amount .amount-section h4 {
    font-size: 60%;
    text-align: center;
    font-weight: 400;
}

.accrued-amount .amount-section h3 {
    margin-top: 5px;
    font-size: 150%;
}

.driver-list-earnings-screen p span {
    display: block;
    font-size: 90%;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
}

.driver-list-earnings-screen p {
    display: block;
    font-size: 70%;
    font-weight: 300;
    margin-bottom: 5px;
}

.blackOverlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.calendarLayer {
    display: block;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY( -50% );
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    z-index: 11;
}

/* CALENDAR STYLE */
.dh-calendar {
    display: block;
    border: 1px solid transparent;
    width: 100%;
    padding-top: 10px;
}

.dh-week {
    display: block;
    width: 100%;
    margin: 2px 0;
}

.dh-day {
    display: inline-block;
    width: 12%;
    margin: 0;
    padding: 0;
    line-height: 200%;
    border: 1px solid #eaeaea;
    text-align: center;
}

.dh-day-completed {
    background-color: #a7a7a7;
}

.noBorder {
    border-color: transparent;
}

#sl {
    width: 100%;
    margin: 0;
    padding: 0;
}

.dh-dayfill {
    border: 1px solid #ececec;
    cursor: hand;
    cursor: pointer;
}

.dh-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12;
}

.dh-dialog {
    display: block;
    position: relative;
    text-align: center;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    z-index: 13;
    padding: 15px;
    top: 50%;
    transform: translateY( -50% );
}

.dh-dialog {
    padding-bottom: 35px;
}

.dh-row {
    display: inline-block;
    width: 100%;
    height: 34px;
}

.sliderNumber {
    display: inline-block;
    border: 0;
}

.sliderNumberLabel {
    display: inline-block;
    margin: 0 5px;
}
